@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Rubik');

body {
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    color:#2F323B;
}
body p {
    line-height: 2rem;
}

.navbar {
   text-transform: uppercase; 
   font-weight: 700;
   font-size: 0.8rem;
   letter-spacing: 0.1rem;
   background: rgba(213,98,86,1)!important
}
.navbar-brand img {
    height: 2.4rem;
}
.navbar-nav li {
    padding-right: 0.7rem;
}

/*--- Landing Page ---*/

.home-inner {
    background-image: url(img/classroom.jpg);
}

.caption {
    width:100%;
    max-width: 100%;
    position: absolute;
    top: 25%;
    z-index: 1;
    color: black;
    font-family: 'Roboto Mono', monospace;
}

.caption h1 {
    font-size: 4.8rem;
    color: #C35354;
    font-family: 'Roboto Mono', monospace; 
    text-shadow: 0.05rem 0.0rem 0.1rem black;
    font-weight: 700;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;   
    text-shadow: 0.01rem 0.01rem 0.01rem black;
    padding-bottom: 1.5rem;
}

.btn-lg {
    color:rgba(195,83,84,1);
    background-color: #FFC0BB;
    border-color: rgba(213,98,86,1);
    padding: .6rem 1/3rem;
    border-width: medium;
    font-weight: 700;
    font-size: 1.1rem; 
}

/*--- About ---*/
.about h1 {
    margin-top: 400px;
}

/*--- Partners Section ---*/

