@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Rubik');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway|Source+Sans+Pro');

body {
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    color:#2F323B;
}
body p {
    line-height: 2rem;
}

.offset:before {  
    display: block;
    content:"";
    height: 4rem;
    margin-top: -4rem;

}

.navbar {
   text-transform: uppercase; 
   font-weight: 700;
   font-size: 0.8rem;
   letter-spacing: 0.1rem;
   background: rgba(125, 32, 63, 0.9)!important
}
.navbar-brand img {
    height: 2.4rem;
}
.navbar-nav li {
    padding-right: 0.7rem;
}

/*--- Landing Page ---*/

.home-inner {
    background-image: url(img/Banner.jpg);
}

.caption {
    width:100%;
    max-width: 100%;
    position: absolute;
    top: 25%;
    z-index: 1;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.caption h1 {
    font-size: 4.8rem;
    color: #FFE3ED;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    font-weight: 700;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2.5rem;
    color: #FFE3ED;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    padding-bottom: 1.5rem;
}

.btn-lg {
    color:white;
    background-color: #00C9A3;
    border-color: rgba(0, 201, 163, 1);
    border-radius: 0;
    text-transform: uppercase;
    padding: .6rem 1.2rem;
    border-width: medium;
    border-radius: 3px;
    font-weight: 700;
}
.btn-sm {
    color:white;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    background-color: #00C9A3;
    border-color: rgba(0, 201, 163, 1);
    padding: .4rem 0.7rem;
    border-width: medium;
    border-radius: 5px;
    font-weight: 600;
}
.btn-lg:hover {
    border-color:#2e8c7b;
    background-color:#2e8c7b;
}

/*--- About ---*/
.narrow {
    width: 75%;
    margin: 1.5rem auto;
}

/*--- Topics Section ---*/
.jumbotron {
   margin-bottom: 0;
   padding: 2rem 0 3.5rem; 
   border-radius:0;
   background-color: #FFE3ED;
}
h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline {
    width: 3.5rem;
    height: .2rem;
    background-color:  rgba(125, 32, 63, 1);
    margin: 0 auto 2rem;
}

/*--- Team ----*/
.TeamPhoto {
    height: 200px;
    padding-bottom: 1rem;
}